[submodule "nft-exchange-contract/lib/forge-std"]
	path = nft-exchange-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft-exchange-contract/lib/solmate"]
	path = nft-exchange-contract/lib/solmate
	url = https://github.com/transmissions11/solmate
