# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Coverage
lcov.info

# Node modules (if any JS tooling is added)
node_modules/

# DS Store
.DS_Store
